    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/adminside/banner.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <div class="body">
            <div class="header">
                <div class="logo">
                    <h1>LiYa Fashion</h1> 
                    <div class="nav">
                        <button onclick="window.location.href='/admin/admindash'"><i class="fa-sharp fa-solid fa-house"></i></button>
                        <button onclick="window.location.href='/admin/addbanner'"><i class="fa-solid fa-plus"></i></button>
                        <button onclick="window.location.href='/'"><i class="fa-solid fa-right-from-bracket"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="section">
                <table>
                    <tr>
                        <th>Image</th>
                        <th>Banner Name</th>
                        <th>Description</th>
                        <th>Offer</th>
                        <th>Start date</th>
                        <th>Enddate</th>
                    </tr>
                    <% product.forEach((banner) => { %>
                        <tr id="product_<%= banner._id %>">
                            <td><img src="/banner/<%=banner.Image %>" width="100px" height="100px" name="Image"></td>
                            <td><%= banner.BannerName %></td>
                            <td><%= banner.Description %></td>
                            <td><%= banner.Offer %></td>
                            <td><%= banner.Startdate %></td>
                            <td><%= banner.Enddate %></td>
                            <%= banner.remove %>
                            <td class="actions">
                                <button onclick="window.location.href='/path/to/edit/<%= banner._id %>'" style="font-size: 12px; padding: 12px 18px; background-color: green; color: white; border: none; border-radius: 5px;">EDIT</button>
                                <button type="submit" style="font-size: 10px; padding: 12px 12px; background-color: blue; color: white; border: none; border-radius: 5px;" onclick="deletion('<%= banner._id %>')">DELETE</button>
                            </td>
                            
                        </tr>
                    <% }) %>
                </table>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                <script>
                    async function deletion(dltproduct){
                     
                        try {
                            Swal.fire({
                                title: "Are you sure?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, delete it!"
                            }).then(async(result) => {
                                if (result.isConfirmed) {
                                    console.log('ddd');
                                    const response = await axios.delete('/admin/deletebanner?id='+dltproduct)
                            if(response.status==200){
                                Swal.fire({
                                     title: "Deleted!",
                                     text: "Your file has been deleted.",
                                     icon: "success"
                                    });
                                    document.getElementById(`product_${dltproduct}`).remove();
                                }else{
                                console.log('error');
                            }
                        }
                    });
                } catch (error) {
                            console.log('error');
                        }
                    }
                </script>
            </div>
        </div>
    </body>
    </html>
