<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiYa</title>
    <link rel="icon" type="image/x-icon" href="public/logo/Kart.png">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/userside/addToCart.css">
</head>
<body>
    <form action="/addcart" method="post">
        <main>
            <section id="cart">
                <div id="cart-container">
                    <div id="offers">
                        <p>Available offers</p>
                        <ul>- 10% Instant Discount on Rupay Credit cards on a Minimum spend of Rs 2,000. TCA </ul>
                        <button>Show More <i class="uil uil-angle-down"></i></button>
                    </div>
                    <div class="select-item">   
                        <div class="select-item-left">
                            <input type="checkbox" name="" id="">
                            <p>1/1 Items Selected</p>
                        </div>
                        <div class="select-item-right">
                            <button>Remove</button>
                            <button>Move to Wishlist</button>
                        </div>
                    </div>
                    <% datas[0].newpro.forEach((details,i)=>  {%>
                        <div class="product-item"> 
                            <div class="product-item-img">
                                <img src="/asset/<%=details.productimg %>" alt="">
                            </div>
                            <div class="product-item-details">
                                <h3><%=details.ProductName %></h3>
                                <span><%=details.Category %></span>
                                &nbsp;
                                <label for="browser">Quantity :<%=datas[0].items[i].quantity %></label>
                                <p>Rs.<%=details.Price %><span> &nbsp; 75% OFF</span></p>
                                <p><i class="uil uil-enter"></i> <b> 14 days </b> return available</p>
                            </div>
                       
                        </div>
                        <% })%>
                </div>
            </section>
        </main>
        <aside>
            <section id="place-order">
                <div class="price-detail">
                    <p>Price Deatils <span> - [ 1 item ]</span></p>
                    <div class="price-detail-div">
                        <div>
                            <p>Total Price</p>
                            <p>Rs 1399</p>
                        </div>
                        <div>
                            <p>Discount on MRP</p>
                            <p class="discount">-Rs 300</p>
                        </div>
    
                        <div>
                            <p>Shipping</p>
                            <p>FREE</p>
                        </div>
                    </div>
                </div>
                <div class="place-order-container">
                    <div class="total-price">
                        <p>Total Amount</p>
                        <p>Rs 1399</p>
                    </div>
                    <div class="place-order-button">
                        <button>PLACE ORDER</button>
                    </div>
                </div>
            </section>
        </aside>

    </form>

</body>
</html>