<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address</title>
    <link rel="stylesheet" href="/css/userside/adressdash.css"> <!-- Link to your CSS stylesheet -->
</head>
<body>
    <h1>Address</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Locality</th>
                <th>Country</th>
                <th>District</th>
                <th>State</th>
                <th>City</th>
                <th>House Name</th>
                <th>Pincode</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
         <% adressdash.forEach((array) => { %>
            <% array.address.forEach((data) => { %>
            <tr id="product_<%=data._id%>">
                <td><%= data.Name %></td>
                <td><%= data.Locality %></td>
                <td><%= data.Country %></td>
                <td><%= data.District %></td>
                <td><%= data.State %></td>
                <td><%= data.City %></td>
                <td><%= data.HouseName %></td>
                <td><%= data.Pincode %></td>
                <td>
                    <button type="submit"onclick="deletion('<%=data._id%>')">Delete</button>
                </td>
            </tr>
            <% }); %>
            <% }); %>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script>
        async function deletion(dltproduct){
         
            try {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then(async(result) => {
                    if (result.isConfirmed) {
                        console.log(dltproduct);
                        const response = await axios.delete(`/user/deleteadress?id=${dltproduct}`)
                if(response.status==200){
                    Swal.fire({
                         title: "Deleted!",
                         text: "Your file has been deleted.",
                         icon: "success"
                        });
                        document.getElementById(`product_${dltproduct}`).remove();
                    }else{
                    console.log('error');
                }
            }
        });
    } catch (error) {
                console.log('error');
            }
        }
    </script>
    <button onclick="window.location.href='/user/checkout'">Go to Check out</button>
    <button onclick="window.location.href='/user/adress'">Add Adress</button>
    <button type="button" onclick="window.location.href='/user/user'">Back</button>

</body> 
</html>
