<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/userside/checkout.css" />
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>r
  </head>
  <body>
    <div id="page-title"><p>Order Summary</p></div>
    <p onclick="window.location.href='/user/user'"><i class="fa-solid fa-arrow-left"></i></p>
   
    <div id="container">
      <div>
        <p>Your Items</p>
        <div id="items">
          <div id="items-img">
            <img src="/asset/<%=data.productimg[0]%>" alt="">
          </div>
          <div id="items-details" productId="<%=data._id%>">
            <div>
              <p><span id="prod-name"><%=data.ProductName%></span></p>
              <p>₹<span class="prod-price"><%=data.Price%></span></p>
            </div>
          </div>
        </div>
      </div>
      <div id="second-container">
        <div>
          <p>Select Address</p>
          <h4 class="orange" id="hai">CHANGE</h4>
        </div>
        <div>
          <div id="addressdetails">
            <p>&nbsp; <span style="font-weight: bold;">Name: &nbsp;</span><%= addresscheck[0].address[0].Name%></p>
            <p> &nbsp; <span style="font-weight: bold;">Locality: &nbsp;</span><%= addresscheck[0].address[0].Locality%></p>
            <p> &nbsp; <span style="font-weight: bold;">Phone: &nbsp;</span><%= addresscheck[0].address[0].Phone%></p>
            <p> &nbsp; <span style="font-weight: bold;">District: &nbsp;</span><%= addresscheck[0].address[0].District%></p>
            <p> &nbsp; <span style="font-weight: bold;">State: &nbsp;</span><%= addresscheck[0].address[0].State%></p>
            <p> &nbsp; <span style="font-weight: bold;">City: &nbsp;</span><%= addresscheck[0].address[0].City%></p>
            <p> &nbsp; <span style="font-weight: bold;">HouseName: &nbsp;</span><%= addresscheck[0].address[0].HouseName%></p>
            <p> &nbsp; <span style="font-weight: bold;">Pincode: &nbsp;</span><%= addresscheck[0].address[0].Pincode%></p>
          </div>
          <div id="price-details">
            <div>
              <p>Item Total(MRP)</p>
              <p id="total-mrp">₹ <span class="prod-mrp"><%=data.Price%></span></p>
            </div>
            <div>
              <p>Shipping Fee</p>
              <p>Free</p>
            </div>
            <div>
              <h5>To be paid</h5>
              <h5>₹ <span class="prod-price"><%=data.Price%></span></h5>
            </div>
            <div>
              <p>Total Savings</p>
              <h5>₹<span id="savings"><%=data.Price%></span></h5>
            </div>
          </div>
          </div>
          <div id="payment-method">
            <p >Select Payment Method</p>
            <div>
              <input type="radio" id="online" name="payment_method" value="online" data-price-difference="-10">
              <label for="online">Online Payment</label><br> 
              <input type="radio" id="cod" name="payment_method" value="cod" data-price-difference="20">
              <label for="cod">Cash on Delivery</label><br>
          </div>  
          
          <div id="checkout">
            <div id="payment-btn"><p>PROCEED TO PAYMENT</p></div>
          </div>

          <div class="footer-text">
            <hr />
            <h3>
            The return policy for this product is 7 days
            </h3>
          </div>
        </div>
      </div>
    </div>
    <form action="" class="popup" id="hallo">
        <% addresscheck.forEach((array)=> { %>
          <% array.address.forEach((data) => { %>
        <div id="adress" class="innerDiv">
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">Name:</span><%= data.Name%></p>
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">Locality:</span><%= data.Locality%></p>
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">Phone:</span><%= data.Phone%></p>
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">District:</span><%= data.District%></p>
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">State:</span><%= data.State%></p>
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">City:</span><%= data.City%></p>
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">HouseName:</span><%= data.HouseName%></p>
          <p class="ptag"> &nbsp; <span style="font-weight: bold;">Pincode:</span><%= data.Pincode%></p>
          <input name="hiju" type="radio" value="<%= data.Name%>,<%= data.Locality%>,<%= data.Phone%>,<%= data.District%>,<%= data.State%>,<%= data.City%>,<%= data.HouseName%>,<%= data.Pincode%>" name="" id="" class="radio1" style="position: absolute; top: 60px; left: 600px;">
        </div>
        <% }); %>
        <% }); %>
      
      <div class="buttons">
        <button  class="orange" type="button" id="hii">Submit</button>
        <button type="button" onclick="window.location.href='/user/adress'">Add Address</button>
        <button type="button" onclick="window.location.href='/user/user'">Back</button>
      </div>
      
  </form>
  <script>
    const change = document.getElementById("hai");
    const changer = document.getElementById("hallo");
    const submitbtn = document.getElementById("hii");
    const addressSpace = document.getElementById("addressdetails");
    const formContainer = document.getElementById("hallo");
    const radios = document.querySelectorAll(".radio1");

    change.addEventListener("click", function(event) {
      changer.style.display = "block";
    });
    submitbtn.addEventListener("click", function(event) {
   const radios = document.querySelector(".radio1");
      radios.style.display = 'none'
    });
    radios.forEach(radio => {
      radio.addEventListener("change", function(event) {
        const selectedAddress = event.target.closest('.innerDiv').innerHTML;
        addressSpace.innerHTML = selectedAddress;
        const radios = document.querySelector(".radio1");
      radios.style.display = 'none'
      });
    });
    const closeButton = document.getElementById("hii");
    closeButton.addEventListener("click", function(event) {
      formContainer.style.display = "none";
    });
  </script>
  
<script>
      document.getElementById("payment-btn").addEventListener("click", async function(event) {
          try {
            event.preventDefault()
            const selectedPaymentMethod = document.querySelector('input[name="payment_method"]:checked');
            const totalprice=document.getElementById('savings').innerHTML
            const element = document.getElementById("items-details")
            console.log("element",element)
            const productid = element.getAttribute('productId')
            console.log("productid",productid)
            console.log("totalprice",totalprice);
            const paymentMetod= selectedPaymentMethod.value
              console.log("paymentmethod",paymentMetod)
          const response = await axios.post('/user/orderplaced', 
          { paymentMethod: paymentMetod, totalprice: totalprice, productid: productid });

              // const response = await axios.post('/user/orderplaced', { payment_method: paymentMetod });
              if (selectedPaymentMethod) {
      console.log(selectedPaymentMethod.value);
      // Proceed with sending the payment method to the server
      console.log(response)
  if(response.data.success){
  window.location.href="/user/orderplaced"
  }
  } else {
      console.log('Error: Please select a payment method.');
  }
          } catch (error) {
              console.log('Error:', error);
          }
      });
</script>

  </body>
  
</html> 
