<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css" />

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/css/userside/userhome.css" />
  <title>LIYa</title>

  <link rel="icon" type="image/x-icon" href="logo/Kart.png">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <form >
    <main>
      <!-- Cart Slide -->
      <section class="cart__slide">
        <div class="arrival__slide container">
          <div class="glide" id="glide1">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class="glide__slide">
                  <div class="arrival">
                    <div class="cart__like">
                      <div class="image__holder">
                        <img src="/asset/<%=showproducts.productimg %>" alt="" />
                      </div>
                      <div class="cart__details">
                        <h1><%=showproducts.ProductName %></h1>
                        <p>
                         <%=showproducts.Description %></p>
                         <p>
                          Quantity:<%=showproducts.Quantity %></p>
                        <div class="rating">
                          <span>
                            <svg>
                              <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                            </svg>
                          </span>
                          <span>
                            <svg>
                              <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                            </svg>
                          </span>
                          <span>
                            <svg>
                              <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                            </svg>
                          </span>
                          <span>
                            <svg>
                              <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                            </svg>
                          </span>
                          <span>
                            <!-- <svg>
                              <use xlink:href="../images/sprite.svg#icon-star-empty"></use>
                            </svg> -->
                          </span>
                        </div>
                        <div class="btn__group">
                          <button type="button" onclick="window.location.href='/user/addcart?id=<%=showproducts._id %>'">Add To Cart<i class="uil uil-shopping-cart-alt"></i></button>
                          
                          <button>Rs:<%=showproducts.Price %></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
          </div>
        </div>
      </section> 
    </main>
  </form>
</body>
</html>