<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css" />

  <!-- Custom Stylesheet -->
  <link rel="stylesheet" href="/css/userside/userhome.css" />
  <title>LIYa</title>

  <link rel="icon" type="image/x-icon" href="logo/Kart.png">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <form action="/user">
    <header id="header" class="header">
      <div class="navigation">
        <div class="container">
          <nav class="nav__center">
            <div class="nav__header">
              <div class="nav__logo">
                <a href="index.html">
                  <h1>Li<span>Ya</span></h1>
                </a>
              </div>
  
              <div class="nav__hamburger">
                <span>
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-menu"></use>
                  </svg>
                </span>
              </div>
            </div>
  
            <div class="nav__menu">
              <div class="menu__top">
                <h1 class="nav__category">NR<span>G</span></h1>
                <div class="close__toggle">
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-cross"></use>
                  </svg>
                </div>
              </div>
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="#header" class="nav__link scroll-link">Home</a>
                </li>
  
                <li class="nav__item">
                  <a href="#featured" class="nav__link scroll-link">Featured</a>
                </li>
  
                <li class="nav__item">
                  <a href="#blog" class="nav__link scroll-link">Blog</a>
                </li>
  
                <li class="nav__item">
                  <a href="#newsletter" class="nav__link scroll-link">Subscribe</a>
                </li>
  
                <li class="nav__item">
                  <a href="/" class="nav__link">Login</a>
                  <a href="/signup" class="nav__link">signup</a>
                </li>
              </ul>
  
              <ul class="nav__icons">
                <a href="#" class="icon__item">
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-search"></use>
                  </svg>
                </a>
  
                <a href="#" class="icon__item">
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-user"></use>
                  </svg>
                </a>
  
                <a href="addToCart.html" class="icon__item">
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-shopping-basket"></use>
                  </svg>
                  <span>2</span>
                </a>
              </ul>
            </div>
          </nav>
        </div>
      </div>
  
      <!-- Hero -->
      <% bannerscheme.forEach((data)=>{ %>
      <div class="hero">
        <img src="/banner/<%= data.Image %>" alt="">
          <div class="hero__content container">
           
            <h1>
              <span style="color: rgb(253, 211, 0);">Get <span class="color">50%</span> off your first shopping
                with</span>
              <span style="color: rgb(253, 211, 0);">Li<span class="color">Ya</span> online shop</span>
            </h1>
            <!-- <a href="#" class="btn btn-hero">shop now</a> -->
          </div>
         
        <a href="#new__arrival" class="goto__next scroll-link">
          <span>
            <svg>
              <use xlink:href="../images/sprite.svg#icon-angle-down"></use>
            </svg>
          </span>
        </a>
      </div>
      <% }) %>
    
    </header>
  
    <!-- Main -->
    <main>
      <!-- Special Offer Banner -->
      <section class="section special__offer">
        <div class="offer__container">
          <h1>SPECIAL OFFER</h1>
          <p>Special Offer Discount valid for Only this Week</p>
          <a href="#">SHOP NOW</a>
        </div>
      </section>
  
      <!-- Featured Section -->
     
      <section class="section featured" id="featured">
        <div> 
         
            <div class="featured__container container">
              <div class="title">
                <h1 class="primary__title">Featured Products</h1>
              </div>
              <div class="featured__center">
                <% addproducts.forEach((addpr)=>{ %>
                  <div class="product" onclick="window.location.href='/user/productdetails/?id=<%=addpr._id%>'">
                    <div class="img__container">
                      <img src="/asset/<%=addpr.productimg[0] %>" alt="" />
                    </div>
                    <div class="product__bottom">
                      <div class="rating">
                        <span>
                          <svg>
                            <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                          </svg>
                        </span>
                        <span>
                          <svg>
                            <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                          </svg>
                        </span>
                        <span>
                          <svg>
                            <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                          </svg>
                        </span>
                        <span>
                          <svg>
                            <use xlink:href="../images/sprite.svg#icon-star-full"></use>
                          </svg>
                        </span>
                        <span>
                          <svg>
                            <use xlink:href="../images/sprite.svg#icon-star-empty"></use>
                          </svg>
                        </span>
                      </div>
                        <div class="product N">
                        <h1><%=addpr.ProductName %></h1>
                      </div>
                      <h3><h5>Quantity:</h5><%=addpr.Quantity %></h3>
                      <h5><%=addpr.Description %></h5>
                      <h4>₹<%=addpr.Price %></h4>
                      <a href="/user/addcart">Add To Cart</a>
                    </div>
                  </div>
                <% }) %>
              </div>
            </div>
       
        </div>
        
          
      </section>
    
      <!-- Blog -->
      <section class="section blog" id="blog">
        <div class="blog__container container">
          <div class="title">
            <h1 class="primary__title">Latest News</h1>
          </div>
  
          <div class="blog__center">
            <div class="blog__box">
              <div class="img__cover">
                <img src="../images/blog1.jpg" alt="" />
              </div>
              <div class="box__content">
                <h2>We Are bring grocerys</h2>
                <a href="#">Read more</a>
              </div>
            </div>
  
            <div class="blog__box">
              <div class="img__cover">
                <img src="../images/blog2.jpg" alt="" />
              </div>
              <div class="box__content">
                <h2>Now we are delivering faster</h2>
                <a href="#">Read more</a>
              </div>
            </div>
  
            <div class="blog__box">
              <div class="img__cover">
                <img src="../images/blog3.jpg" alt="" />
              </div>
              <div class="box__content">
                <h2>Liya have 2 million customer</h2>
                <a href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Newsletter -->
      <section class="section newsletter" id="newsletter">
        <div class="newsletter__container container">
          <div class="title">
            <h1 class="primary__title">Newsletter</h1>
          </div>
  
          <div class="newsletter__center">
            <div class="newsletter__box">
              <h2>Newsletter</h2>
              <p>
                Subscribe to our newsletter and get 20% off your first purchase
              </p>
            </div>
  
            <div class="newsletter__box">
              <form action="#">
                <input type="email" placeholder="Your email" />
                <button>SUBSCRIBE</button>
              </form>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Footer -->
      <footer id="footer" class="section footer">
        <div class="container">
          <div class="footer__top">
            <div class="footer-top__box">
              <h3>EXTRAS</h3>
              <a href="#">Brands</a>
              <a href="#">Gift Certificates</a>
              <a href="#">Affiliate</a>
              <a href="#">Specials</a>
              <a href="#">Site Map</a>
            </div>
            <div class="footer-top__box">
              <h3>INFORMATION</h3>
              <a href="#">About Us</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Terms & Conditions</a>
              <a href="#">Contact Us</a>
              <a href="#">Site Map</a>
            </div>
            <div class="footer-top__box">
              <h3>MY ACCOUNT</h3>
              <a href="#">My Account</a>
              <a href="#">Order History</a>
              <a href="#">Wish List</a>
              <a href="#">Newsletter</a>
              <a href="#">Returns</a>
            </div>
            <div class="footer-top__box">
              <h3>CONTACT US</h3>
              <div>
                <span>
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-location"></use>
                  </svg>
                </span>
                Calicut, kerala, India
              </div>
              <div>
                <span>
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-envelop"></use>
                  </svg>
                </span>
                liya@gmail.com
              </div>
              <div>
                <span>
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-phone"></use>
                  </svg>
                </span>
                9988721840
              </div>
              <div>
                <span>
                  <svg>
                    <use xlink:href="../images/sprite.svg#icon-paperplane"></use>
                  </svg>
                </span>
                calicut, kerala
              </div>
            </div>
          </div>
        </div>
        </div>
      </footer>
      <!-- End Footer -->
    </main>
  
    <!-- Glidejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  









  </form>
 
</body>

</html>